
/* NAVBAR */
.navbar {
  position: relative;
  z-index: 27;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-clip: padding-box;
  padding: 10px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}


/* TOPO da NAV */
.nav-top {
 display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* LOGO */
.nav-title {

  display: flex;
  align-items: center;
}

.nav-title img {
  top: 10px;
  height: 50px;
  filter: drop-shadow(0 0 6px #E8B109);
}

/* LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-links a,
.nav-mobile a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover,
.nav-mobile a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}



/* BOTÃO DESKTOP */
.nav-btn {
  cursor: pointer;
  background: transparent;
  color: white;
  border: 1px solid #E8B109;
  padding: 0.9rem 1.8rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow:
    0 0 4px rgba(232, 177, 9, 0.4),
    0 0 12px rgba(232, 177, 9, 0.2);
  backdrop-filter: blur(10px);
  transition: 
    box-shadow 0.4s ease,
    transform 0.3s ease,
    background 0.3s ease;
}

.nav-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.1)
  );
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 25px;
  height: 20px;
  position: relative;
}
.hamburger div {
  background: white;
  height: 3px;
  border-radius: 2px;
  transition: 0.4s;
  position: absolute;
  width: 100%;
}
.hamburger div:nth-child(1) {
  top: 0;
}
.hamburger div:nth-child(2) {
  top: 8px;
}
.hamburger div:nth-child(3) {
  top: 16px;
}
.hamburger.active div:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}
.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

/* MENU MOBILE */
.nav-mobile {
  position: absolute; 
  top: 100%; 
  left: 0;
  width: 100%;

  background: #040911;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0.95);
  transform-origin: top;
  transition: max-height 0.5s ease, opacity 0.3s ease, transform 0.4s ease;

  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  z-index: 20;/
}

.nav-mobile.active {
  max-height: 400px;
  opacity: 1;
  transform: scaleY(1);
}

/* BOTÃO MOBILE */
.nav-btn-mobile {
  color: white;

  font-size: 1rem;
  margin: 10px auto 0;
}

/* RESPONSIVO */

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 10px 20px;
    background-color: #040911;
  }

  .nav-links,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-mobile a {
    padding: 12px;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
  }

  .nav-mobile a:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
  }

  .nav-btn-mobile {
    display: block;
  }
}

/* Tablets e notebooks menores */
@media (min-width: 769px) and (max-width: 1023px) {
  .navbar {
    max-width: 700px;
    margin: 30px auto;
     padding: 15px 30px;
  }

  .nav-top {
    gap: 15px;
  }

  .nav-links {
    gap: 20px;
    font-size: 1rem;
  }

 .nav-btn {
    padding: 0.65rem 2rem;
    font-size: 1.1rem;
  }
}

/* Desktop padrão */
@media (min-width: 1024px) and (max-width: 1919px) {
  .navbar {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .nav-top {
    gap: 15px;
  }

  .nav-links {
    gap: 20px;
    font-size: 1.2rem;
  }

  .nav-btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

/* Ultra widescreen */
@media (min-width: 1920px) {
  .navbar {
    max-width: 1400px;
    margin: 40px auto;
    padding: 10px 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  }

  .nav-top {
    gap: 30px;
  }

  .nav-links {
    gap: 55px;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .nav-title img {
    height: 55px;
  }

 .nav-btn {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
  }
}
