
* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #040911;/* linear-gradient(145deg, #0f172a, #1e293b)*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}


/*
html {
  scroll-behavior: smooth;
}
*/
















