
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #040911;/* linear-gradient(145deg, #0f172a, #1e293b)*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  min-height: 200vh;
  overflow-x: hidden;
}

/*
html {
  scroll-behavior: smooth;
}
*/

.cards-section {
  z-index: 13;
   position: relative;
  top: -150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 1rem;
}

.info-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 2rem;
  max-width: 370px;
  flex: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(232, 177, 9, 0.06);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.info-card:hover {
  transform: scale(1.02);
}

.card-icon {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #E8B109;
}

.info-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: white;
}

.info-card p {
  font-size: 0.95rem;
  color: #cbd5e1;
  line-height: 1.5;
}
